{% extends 'Adm/admin.html' %}
{% load  static %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <a href="{% url 'supplier_list' %}" class="btn btn-dark">{{ button }}</a>
                        <a href="{% url 'contract_pdf' contract.pk %}" class="btn btn-success">{{ PDF }}</a>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v3</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="card">
                                <div class="card bg-dark">
                                    <div class="card-body text-center">
                                        <h1 class="card-text text-bold">Contrato del Proveedor</h1>
                                        <p class="card-text text-bold">Se visualiza toda la información y datos
                                            personales del nuevo Proveedor que fue contratado por la empresa Importadora Larrain.</p>
                                    </div>
                                </div>
                                <div class="container">
                                    <label for="username" class="form-label">Foto de Perfil</label>
                                    <div class="col-sm-3">
                                        <img src="/media/{{ contract.image }}" style="width: 200px; height: 180px">
                                    </div>
                                    <hr>
                                    <div class="row g-3">
                                        <div class="col-sm-3">
                                            <label for="username" class="form-label">Rut</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.rut }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="email" class="form-label">Compañía o Empresa</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.company }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="username" class="form-label">Nombres del Proveedor</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.first_name }}</strong>
                                                <strong>{{ contract.second_name }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="email" class="form-label">Apellidos del Proveedor</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.pather_last_name }}</strong>
                                                <strong>{{ contract.mother_last_name }}</strong>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <label for="username" class="form-label">Fecha de Nacimiento</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.birthday }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="email" class="form-label">Celular</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.phone }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="username" class="form-label">Correo Electrónico</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.email }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-3">
                                            <label for="username" class="form-label">Fecha de Registro</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.createdAt }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <label for="email" class="form-label">Dirección del Proveedor</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 14px">
                                                <strong>{{ contract.address }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                    <h1 class="card-footer text-center" style="background: #cbced2">Detalles del
                                        los Productos en los que trabajará el Proveedor</h1>
                                    <hr>
                                </div>
                                <div class="container">
                                    <div class="row g-3">
                                        <div class="col-sm-12">
                                            <label for="username" class="form-label">Fecha de Entrega Comprometida</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 15px">
                                                <strong>{{ contract.timeDelivery }}</strong>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <label for="email" class="form-label">Detalles y características de los productos</label>
                                            <div class="card-footer text-center"
                                                 style="background: #deedfd; font-size: 15px">
                                                <strong>{{ contract.detailProduct }}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}