{% extends 'Adm/admin.html' %}
{% load static %}
{% load widget_tweaks %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <form method="post" enctype="multipart/form-data" id="form_id">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if action == 'add' %}
                                        <i class="fas fa-plus-circle"></i>
                                    {% else %}
                                        <i class="fas fa-edit"></i>
                                    {% endif %}
                                    {{ title2 }}
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container">
                                    {% csrf_token %}
                                    <div class="text-left text-bold">
                                        {{ form.rut.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.rut|add_class:'form-control card-footer'|attr:'placeholder:Ingrese un Rut' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.first_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.first_name|add_class:'form-control card-footer'|attr:'placeholder:Ingrese Primer Nombre del Proveedor' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.second_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.second_name|add_class:'form-control card-footer'|attr:'placeholder:Ingrese Segundo Nombre del Proveedor' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.pather_last_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.pather_last_name|add_class:'form-control card-footer'|attr:'placeholder:Ingrese Apellido Paterno del Proveedor' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.mother_last_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.mother_last_name|add_class:'form-control card-footer'|attr:'placeholder:Ingrese Apellido Materno del Proveedor' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.birthday.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-text" style="background: #2a2a2a">
                                            <img src="{% static 'assets/img/security/calendar_icon.png' %}" alt=""
                                                 style="width: 20px">
                                        </div>
                                        {{ form.birthday|add_class:'form-control card-footer datepicker'|attr:'autocomplete:off' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.company.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.company|add_class:'form-control card-footer'|attr:'placeholder:Ingrese la Compañia o Empresa' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.phone.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.phone|add_class:'form-control card-footer'|attr:'placeholder:Ingrese Celular del Proveedor' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.address.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.address|add_class:'form-control card-footer'|attr:'placeholder:Ingrese Dirección de la Compañia' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.email.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.email|add_class:'form-control card-footer'|attr:'placeholder:Ingrese Correo Electronico del Proveedor' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.detailProduct.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.detailProduct|add_class:'form-control card-footer'|attr:'placeholder:Ingrese la Informacion de los productos que trabajará el Proveedor' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.timeDelivery.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        <div class="input-group-text" style="background: #2a2a2a">
                                            <img src="{% static 'assets/img/security/calendar_icon.png' %}" alt=""
                                                 style="width: 20px">
                                        </div>
                                        {{ form.timeDelivery|add_class:'form-control card-footer datepicker'| attr:'autocomplete:off' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.image.label }}
                                    </div>
                                    {{ form.image | add_class:'form-control' }}
                                </div>
                                <br>
                                <div class="card-footer" style="width: 20%">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-audio-description"></i> {{ button }}
                                    </button>
                                </div>
                            </div>
                            <script src="{% static 'admin/js/functions/datePicker.js' %}"></script>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}