{% extends 'Adm/admin.html' %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v3</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-shopping-basket"></i>
                                {{ title2 }}
                            </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="container">
                                <table class="table table-hover text-center" id="tabla" style="width: 100%">
                                    <thead class="bg-dark alert-link text-white">
                                    <tr>
                                        <th>ID</th>
                                        <th>Imagen</th>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Fecha de Registro</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody class="text-center">
                                    {% for s in object_list %}
                                        <tr>
                                            <td><a class="btn btn-success" href="{% url 'supplier_contract' s.pk %}">{{ s.id }}</a></td>
                                            <td class="text-center">
                                                <img src="{{ s.get_image }}" class="img-fluid d-block mx-auto"
                                                     style="width: 60px; height: 40px">
                                            </td>
                                            <td>{{ s.first_name }} {{ s.second_name }}</td>
                                            <td>{{ s.pather_last_name }} {{ s.mother_last_name }}</td>
                                            <td>{{ s.createdAt }}</td>
                                            <td>
                                                <a href="{% url 'supplier_update' s.id %}" type="button"
                                                   class="btn btn-warning btn-sm"><i class="fas fa-edit"></i>'</a>
                                                <a href="{% url 'supplier_delete' s.id %}"
                                                   class="btn btn-danger btn-sm"><i
                                                        class="fas fa-trash-restore-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a href="{{ url_create_supplier }}" class="btn btn-primary" id="btntest"><i
                                        class="fas fa-plus-square"></i>
                                    {{ button }}
                                </a>
                                <a href="{% url 'supplier_pdf' %}" class="btn btn-success" id="btntest"><i
                                        class="fas fa-plus-square"></i>
                                    {{ button2 }}
                                </a>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}