{% extends 'web/home.html' %}
{% load static %}

{% block title %}
    <title>Catalogo de Productos</title>
{% endblock %}

{% block service %}

{% endblock %}

{% block contend %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 my-5">
                <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{% static 'assets/img/slibar/PENDRIVE_1.jpg' %}" class="d-block w-100"
                                 style="height: 550px">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'assets/img/slibar/celulares_2.jpg' %}" class="d-block w-100"
                                 style="height: 550px">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'assets/img/slibar/consolas_3.jpg' %}" class="d-block w-100"
                                 style="height: 550px">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'assets/img/slibar/tv_4.jpg' %}" class="d-block w-100"
                                 style="height: 550px">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="{% static 'assets/img/slibar/notebook_5.jpg' %}" class="d-block w-100"
                                 style="height: 550px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <br>
                <br>
                <div class="row" style="width: 100%">
                    {% if object_list %}
                        {% for p in object_list %}
                            <div class="col-lg-4 col-md-6 mb-4 text-center">
                                <div class="card h-100 text-bold text-black">
                                    {% if p.image %}
                                        <img class="card-img-top" src="{{ p.imageURL }}"
                                             style="width: 100%; height: 250px">
                                    {% endif %}
                                    <div class="card-body">
                                        <h4 class="card-title mt-3">
                                            <h5 class="card-title">{{ p.name }}</h5>
                                        </h4>
                                        <hr>
                                        <div class="card-title">
                                            <h5 class="card-title" style="font-size: 15px; color: #5d6974"><strike>${{ p.salePrice }}</strike></h5>
                                            <h5 class="card-title" style="font-size: 23px">${{ p.offerPrice }}</h5>
                                        </div>
                                    </div>
                                    <div class="card-footer" style="width: 100%">
                                        <small class="text-muted">
                                            &#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                        <div class="float-right"> Visitas {{ p.numReviews }}</div>
                                    </div>
                                    <div class="card-footer" style="width: 100%">
                                        <a href="" class="btn btn-success btn-sm"><i class="fas fa-cart-arrow-down"></i>
                                            {{ button }}
                                        </a>
                                        <a href="{% url 'productDetail' p.slug %}" class="btn btn-danger btn-sm"><i class="fas fa-eye"></i>
                                            {{ button1 }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1 id="notproduct">no hay Productos Registrados</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        var myCarousel = document.querySelector('#carouselExampleDark')
        var carousel = new bootstrap.Carousel(myCarousel, {
            interval: 1000,
            wrap: false
        })
    </script>
{% endblock %}
