{% extends 'web/home.html' %}
{% load static %}

{% load widget_tweaks %}

{% block service %}

{% endblock %}

{% block contend %}
    <br><br><br>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">{{ title }}</h2>
                <h1 class="section-subheading text-white text-bold">{{ title2 }}</h1>
            </div>
            <!-- * * * * * * * * * * * * * * *-->
            <!-- * * SB Forms Contact Form * *-->
            <!-- * * * * * * * * * * * * * * *-->
            <!-- This form is pre-integrated with SB Forms.-->
            <!-- To make this form functional, sign up at-->
            <!-- https://startbootstrap.com/solution/contact-forms-->
            <!-- to get an API token!-->
            <form method="post">
                <div class="card-body">
                    <div class="container" style="width: 80%; color: white; font-size: 20px">
                        <div class="row">
                            {% csrf_token %}
                            <div class="text-left text-bold">
                                {{ form.name.label }}
                            </div>
                            <div class="input-group mb-2">
                                {{ form.name|add_class:'form-control'|attr:'placeholder:Ingrese su nombre' }}
                            </div>
                            <div class="text-left text-bold">
                                {{ form.phone.label }}
                            </div>
                            <div class="input-group mb-2">
                                {{ form.phone|add_class:'form-control'|attr:'placeholder:Ingrese un Celular' }}
                            </div>
                            <div class="text-left text-bold">
                                {{ form.email.label }}
                            </div>
                            <div class="input-group mb-2">
                                {{ form.email|add_class:'form-control'|attr:'placeholder:Ingrese un Correo Electronico' }}
                            </div>
                            <div class="text-left text-bold">
                                {{ form.typeClaim.label }}
                            </div>
                            <div class="input-group mb-2">
                                {{ form.typeClaim|add_class:'form-control'}}
                            </div>
                            <div class="text-left text-bold">
                                {{ form.claim.label }}
                            </div>
                            <div class="input-group mb-2">
                                {{ form.claim|add_class:'form-control'|attr:'placeholder: Coméntanos ¿En qué podemos ayudarte?' }}
                            </div>
                            <br> <br> <br>
                            <div class="card-footer text-center">
                                <br> <br>
                                <button type="submit" class="btn btn-success btn-xl">
                                    <i class="fas fa-share-square"></i> {{ button }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Submit success message-->
                <!---->
                <!-- This is what your users will see when the form-->
                <!-- has successfully submitted-->
            </form>
        </div>
    </section>
    <!-- Clients-->
    <div class="py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'assets/img/logos/microsoft.svg' %}" alt="..."/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'assets/img/logos/google.svg' %}" alt="..."/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'assets/img/logos/facebook.svg' %}" alt="..."/></a>
                </div>
                <div class="col-md-3 col-sm-6 my-3">
                    <a href="#!"><img class="img-fluid img-brand d-block mx-auto"
                                      src="{% static 'assets/img/logos/ibm.svg' %}" alt="..."/></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}}