{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'assets/img/logo_wykep.png' %}" alt="..."/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href=" {% url 'home' %} "><i class="fab fa-servicestack"></i>
                    Servicios</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-store"></i>
                        Tienda
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <div class="dropdown-item text-center">Vitrina de Productos</div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'catalogue' %}">
                                <i class="fas fa-laptop"></i> Catálogo</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'product_offer' %}">
                                <i class="fas fa-search-dollar"></i> Ofertas</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-tag"></i>
                        Categorias
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown" style="width: 400px">
                        {% if category %}
                            <li>
                                <a class="dropdown-item text-center" href="{% url 'all_categories' %}">
                                    <i class="fab fa-shopify"></i> Todas las Categorias</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for c in category %}
                                <div class="text-center" style="display: inline-block;">
                                    <li>
                                        <a class="dropdown-item text-center"
                                           style="font-size: 15px;padding: 5px; margin: 5px"
                                           href="{% url 'type_category' c.slug %}">{{ c.name }}</a>
                                    </li>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="text-center">Categoria no Disponible en esta Pestaña</p>
                        {% endif %}
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"><i class="fas fa-id-card"></i>
                        Perfil
                    </a></li>
                    <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-user-tie"></i> {{ user.username }}
                    </a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-users"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-door-open"></i>
                                Logout</a></li>
                            <li><a class="dropdown-item" href="{% url 'update_profile' %}"><i
                                    class="fas fa-user-edit"></i>
                                Editar Perfil</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'contact' %}"><i class="fas fa-phone-volume"></i>
                                Contactanos</a></li>
                            <li><a class="dropdown-item" href="{% url 'team' %}"><i class="fas fa-users-cog"></i> Equipo</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mycart' %}"><i class="fas fa-cart-plus"></i>
                        <span class="badge rounded-pill"
                              style="font-size: 15px; background: #1759f6">{{ order.get_cart_items }}</span></a>
                    </li>

                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-users"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i>
                                Login</a></li>
                            <li><a class="dropdown-item" href="{% url 'register' %}"><i class="fas fa-address-book"></i>
                                Registro</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'contact' %}"><i class="fas fa-phone-volume"></i>
                                Contactanos</a></li>
                            <li><a class="dropdown-item" href="{% url 'team' %}"><i class="fas fa-users-cog"></i> Equipo</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mycart' %}"><i class="fas fa-cart-plus"></i></a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>