{% extends 'web/home.html' %}
{% load static %}

{% block service %}

{% endblock %}

{% block contend %}
    <br><br><br>
    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Equipo de desarrolladores</h2>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/IMG_20210322_001953.jpg' %}" alt="..."/>
                        <h4>Brian Miguel Nuñez Herrera</h4>
                        <p class="text-muted">Jefe de Proyecto</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/pp_1.jpg' %}" alt="..."/>
                        <h4>Cristobal Venegas Valdés</h4>
                        <p class="text-muted">Programador</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/IMG_1847.jpg' %}" alt="..."/>
                        <h4>Amada Vargas Hernandez</h4>
                        <p class="text-muted">Desarrolladora Base de datos</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'assets/img/team/stgo.jpg' %}" alt="..."/>
                        <h4>Santiago Urquieta Esquivel</h4>
                        <p class="text-muted">Analista QA</p>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}