{% extends 'Adm/admin.html' %}

{% block Head %}

{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v3</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card card-default">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-shopping-basket"></i>
                                {{ title2 }}
                            </h3>
                            <br>
                            <hr>
                            <div class="text-center" style="display: block">
                                <a href="{% url 'list_claim' %}" class="btn btn-danger m-1"> Reclamo</a>
                                <a href="{% url 'list_query' %}" class="btn btn-primary m-1"> Consulta</a>
                                <a href="{% url 'list_congratulation' %}" class="btn btn-success m-1"> Felicitaciones</a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="container">
                                <table class="table table-hover " id="tabla" style="width: 100%">
                                    <thead class="bg-dark alert-link text-white">
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Celular</th>
                                        <th>Solicitud</th>
                                        <th>Comentario</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in object_list %}
                                        <tr>
                                            <td>{{ r.name }}</td>
                                            <td>{{ r.email }}</td>
                                            <td>{{ r.phone }}</td>
                                            <td>{{ r.typeClaim }}</td>
                                            <td>{{ r.claim }}</td>
                                            <td>
                                                <a href="{% url 'claim_delete' r.id %}" class="btn btn-danger btn-sm"><i
                                                        class="fas fa-trash-restore-alt"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}