{% extends 'Adm/admin.html' %}

{% load widget_tweaks %}

{% block Head %}

{% endblock %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <form method="post" enctype="multipart/form-data">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if action == 'add' %}
                                        <i class="fas fa-plus-circle"></i>
                                    {% else %}
                                        <i class="fas fa-edit"></i>
                                    {% endif %}
                                    {{ title2 }}
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container">
                                    {% csrf_token %}
                                    <div class="text-left text-bold">
                                        {{ form.title.label }}:
                                    </div>
                                    <div class="form-group mb-2">
                                        {{ form.title | add_class:'form-control' | attr:'placeholder:Ingrese Un Titulo'}}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.typeFile.label }}:
                                    </div>
                                    <div class="form-group mb-2">
                                        {{ form.typeFile | add_class:'form-control' | attr:'placeholder:Ingrese Un Titulo'}}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.description.label }}:
                                    </div>
                                    <div class="form-group mb-2">
                                        {{ form.description | add_class:'form-control' | attr:'placeholder:Ingrese Una Descripción'}}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.file.label }}:
                                    </div>
                                        {{ form.file | add_class:'form-control' }}
                                </div>
                                <br>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-audio-description"></i> {{ button }}
                                    </button>
                                    <a href="{{ filelist }}" class="btn btn-success">
                                        <i class="fas fa-audio-description"></i> {{ button2 }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}