{% extends 'Security/login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block image %}
    <h3 class="login-box-msg text-bold">{{ title }}</h3>
    <img src="{% static 'assets/img/security/changePassword.png' %}" alt="">
{% endblock %}

{% block card %}
    <form method="post">
        {% csrf_token %}
        <div class="text-left text-bold">
            {{ form.password.label }}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <img src="{% static 'assets/img/security/lock_password.png' %}" alt="" style="width: 20px">
            </div>
            {{ form.password|add_class:'card-footer' }}
            <div class="input-group-append">
            </div>
        </div>
        <div class="text-left text-bold">
            {{ form.confirmPassword.label }}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <img src="{% static 'assets/img/security/secure.png' %}" alt="" style="width: 20px">
            </div>
            {{ form.confirmPassword|add_class:'card-footer' }}
            <div class="input-group-append">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-dark btn-block"><i class="fas fa-unlock-alt"></i> {{ button }}</button>
            </div>
        </div>
    </form>
{% endblock %}