{% extends 'Adm/admin.html' %}

{% block Head %}

{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v3</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">

                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fas fa-shopping-basket"></i>
                            {{ title2 }}
                        </h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-hover " id="data" style="width: 100%">
                            <thead class="bg-dark alert-link text-white">
                            <tr>
                                <th>ID</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Username</th>
                                <th>último acceso</th>
                                <th>Fecha de registro</th>
                                <th>Grupos</th>
                                <th>imagen</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                        </table>
                        <div class="card-footer">
                            <a href="{% url 'registerUser' %}" class="btn btn-primary" id="btntest"><i
                                    class="fas fa-plus-square"></i>
                                {{ button }}
                            </a>
                            <a href="{% url 'registerUser' %}" class="btn btn-success" id="btntest"><i
                                    class="fas fa-plus-square"></i>
                                {{ button2 }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}