{% extends 'Adm/admin.html' %}
{% load widget_tweaks %}
{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v3</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <form method="post" enctype="multipart/form-data">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if action == 'add' %}
                                        <i class="fas fa-plus-circle"></i>
                                    {% else %}
                                        <i class="fas fa-edit"></i>
                                        {{ title2 }}
                                    {% endif %}
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container">
                                    {% csrf_token %}
                                    {{ form.username.label }}
                                    {{ form.username }}
                                    {{ form.first_name.label }}
                                    {{ form.first_name }}
                                    {{ form.last_name.label }}
                                    {{ form.last_name }}
                                    {{ form.email.label }}
                                    {{ form.email }}
                                    {{ form.password.label }}
                                    {{ form.password }}
                                    <br>
                                    {{ form.image }}
                                    <br>
                                    <div class="py-2" style="font-size: 20px">
                                        <p>
                                            {{ form.is_superuser.label }}
                                            {{ form.is_superuser }}
                                        </p>
                                        <p>
                                            {{ form.is_staff.label }}
                                            {{ form.is_staff }}
                                        </p>
                                        <p style="font-size: 17px">
                                            {{ form.groups.label }}
                                            {{ form.groups }}
                                        </p>
                                    </div>
                                </div>
                                <br>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-audio-description"></i> {{ button }}
                                    </button>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <script type="application/javascript">
                        $(function () {
                            $('.select2').select2({
                                theme: "bootstrap4",
                                language: 'es',
                                placeholder: 'Ingrese El o Los Grupos Para El Usuario'
                            });
                        });
                    </script>
                </div>
            </div>
        </form>
    </div>
{% endblock %}