{% extends 'Security/login.html' %}
{% load static %}
{% load widget_tweaks %}

{% block image %}
    <h3 class="login-box-msg text-bold">{{ title }}</h3>
    <p class="login-box-msg text-bold">{{ title2 }}</p>
{% endblock %}

{% block card %}
    <form method="post">
        {% csrf_token %}
        <div class="text-left text-bold">
            {{ form.username.label }}
        </div>
        <div class="input-group mb-3">
            <div class="input-group-text">
                <img src="{% static 'assets/img/security/email_gmail.png' %}" alt="" style="width: 20px">
            </div>
            {{ form.username|add_class:'card-footer' }}
            <div class="input-group-append">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-dark btn-block"><i class="fas fa-share-square"></i> Enviar</button>
            </div>
        </div>
    </form>
{% endblock %}