{% extends 'Adm/admin.html' %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <form method="post">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card card-default">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container">
                                    <div class="alert alert-danger alert-dismissible">
                                        <h1><i class="icon fas fa-ban"></i>{{ title2 }} {{ object.name }}?</h1>
                                    </div>
                                    {% csrf_token %}
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fas fa-check"></i> si, eliminar
                                    </button>
                                    <a href="{{ url_list }}" type="submit" class="btn btn-primary">
                                        <i class="fas fa-window-close"></i> no, cancelar
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script type="application/javascript">
            $('form').on('submit', function (e) {
                e.preventDefault();
                var parameter = $(this).serializeArray();
                $.ajax({
                    url: window.location.pathname,
                    type: 'POST',
                    data: parameter,
                    dataType: 'json',
                }).done(function (data) {
                    if (!data.hasOwnProperty('error')) {
                        location.href = '{{ url_list }}'
                        return false;
                    }
                    message_error(data.error);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            });
        </script>
    </div>
{% endblock %}