{% extends 'Adm/admin.html' %}
{% load static %}

{% block Head %}
    <!-- Graphics -->
    <script src="{% static 'admin/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'admin/highcharts/modules/exporting.js' %}"></script>
    <script src="{% static 'admin/highcharts/modules/export-data.js' %}"></script>
    <script src="{% static 'admin/highcharts/modules/accessibility.js' %}"></script>
{% endblock %}

{% block titulo %}

{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% if request.session.group.name == "Administrador" %}
                            <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                        {% else %}
                            <h1 class="m-0 text-danger text-bold">{{ title2 }}</h1>
                        {% endif %}
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v1</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        {% if request.session.group.name == "Administrador" %}
            <section class="content">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-3 col-6">
                            <div class="small-box bg-primary">
                                <div class="inner">
                                    <h3>{{ totalProduct }}</h3>
                                    <h4>Productos</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'assets/img/navbar/iphone_mobile.png' %}"
                                             class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'product_list' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background: #05296b; color: white">
                                <div class="inner">
                                    <h3>{{ totalUsers }}</h3>
                                    <h4>Usuarios</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'admin/img/user.png' %}" class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'list_user' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background: #ad0000; color: white">
                                <div class="inner">
                                    <h3>{{ totalSupplier }}</h3>
                                    <h4>Proveedores</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'admin/img/proveedor.png' %}" class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'supplier_list' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background: #2a2a2a; color: white">
                                <div class="inner">
                                    <h3>{{ totalOrder }}</h3>
                                    <h4>Total de Ordenes</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'admin/img/order_product.png' %}" class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'order_list' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background: #e7d000; color: white">
                                <div class="inner">
                                    <h3>{{ totalProductOffer }}</h3>
                                    <h4>Productos En Oferta</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'assets/img/navbar/discount_sale.png' %}"
                                             class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'product_list' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background: #0cad07; color: white">
                                <div class="inner">
                                    <h3>{{ totalClientWeb }}</h3>
                                    <h4>Clientes Web</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'assets/img/navbar/group_team.png' %}" class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'list_client' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background: #8f0c9b; color: white">
                                <div class="inner">
                                    <h3>{{ Totaldispatcher }}</h3>
                                    <h4>Despachadores</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'assets/img/navbar/air_airplane.png' %}" class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'supplier_list' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6">
                            <div class="small-box" style="background: #ff8200; color: white">
                                <div class="inner">
                                    <h3>{{ OrderProcess }}</h3>
                                    <h4>Ordenes En Proceso</h4>
                                    <p class="image card-footer">
                                        <img src="{% static 'assets/img/navbar/green_mail.png' %}" class="elevation-2"
                                             alt="User Image" style="height: 100px">
                                    </p>
                                </div>
                                <a href="{% url 'order_list' %}" class="small-box-footer">Ver Registros <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
        <div class="container-fluid">
            {% if request.session.group.name == "Administrador" %}
                <h2 class="m-0 text-danger text-bold p-3">{{ title2 }}</h2>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <div id="container"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="container-pie"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total de ventas del 2020'
            },
            subtitle: {
                text: 'Source: Reporte de ordenes emitidas'
            },
            xAxis: {
                categories: [
                    'Enero',
                    'Febrero',
                    'Marzo',
                    'Abril',
                    'Mayo',
                    'Junio',
                    'Julio',
                    'Agosto',
                    'Septiembre',
                    'Octubre',
                    'Noviembre',
                    'Diciembre'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Valores ($)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} $</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Resumen de ventas',
                colorByPoint: true,
                data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

            }]
        });
        // Make monochrome colors
        var pieColors = (function () {
            var colors = [],
                base = Highcharts.getOptions().colors[0],
                i;

            for (i = 0; i < 10; i += 1) {
                // Start out with a darkened base color (negative brighten), and end
                // up with a much brighter color
                colors.push(Highcharts.color(base).brighten((i - 3) / 7).get());
            }
            return colors;
        }());

        // Build the chart
        Highcharts.chart('container-pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Porcentajes de productos vendidos por mes'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    colors: pieColors,
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                        distance: -50,
                        filter: {
                            property: 'percentage',
                            operator: '>',
                            value: 4
                        }
                    }
                }
            },
            series: [{
                name: 'Share',
                data: [
                    {name: 'Chrome', y: 61.41},
                    {name: 'Internet Explorer', y: 11.84},
                    {name: 'Firefox', y: 10.85},
                    {name: 'Edge', y: 4.67},
                    {name: 'Safari', y: 4.18},
                    {name: 'Other', y: 7.05}
                ]
            }]
        });
    </script>

{% endblock %}