{% extends 'Adm/admin.html' %}
{% load static %}


{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        {% block titulo %}
                            <h1 class="m-0 text-danger text-bold">Perfil Del Usuario</h1>
                        {% endblock %}
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v3</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-header text-primary">
                            {% if user.is_authenticated %}
                                <h1>Bienvenido a WYKEP {{ user.username }}</h1>
                            {% else %}
                                <h1></h1>
                            {% endif %}
                        </div>
                        <div class="card-body align-self-center">
                            <div class="card" style="width: 900px">
                                <div class="card bg-dark">
                                    <br>
                                    <img src="{{ request.user.get_image }}"
                                         class="card-img-top align-self-center" alt="asd" style="width: 300px;">
                                    <div class="card-body">
                                        <h5 class="card-title text-bold ">Usuario: {{ request.session.group.name }}</h5>
                                        <p class="card-text text-bold">Un gusto tenerte en nuestro equipo, en este panel
                                            verificarás tu información.</p>
                                    </div>
                                </div>
                                <ul class="list-group list-group-flush" style="font-size: 20px;background: #eeecec">
                                    <div class="card-footer">
                                        <h3 class="text-left">Permisos:</h3>
                                        {% if request.session.group.name == "Administrador" %}
                                            <li class="list-group-item text-danger text-bold">{{ admin }}</li>
                                        {% elif request.session.group.name == "Encargado de Bodega" %}
                                            <li class="list-group-item text-danger text-bold">{{ warehouse_manager }}</li>
                                        {% elif request.session.group.name == "Agente de ventas" %}
                                            <li class="list-group-item text-danger text-bold">{{ sales_agent }}</li>
                                        {% elif request.session.group.name == "Despacho" %}
                                            <li class="list-group-item text-danger text-bold">{{ dispatcher }}</li>
                                        {% elif request.session.group.name == "Supervisor" %}
                                            <li class="list-group-item text-danger text-bold">{{ supervisor }}</li>
                                        {% endif %}
                                    </div>
                                    <li class="list-group-item">Usuario: {{ user.username }}</li>
                                    <li class="list-group-item">Nombres: {{ user.first_name }}</li>
                                    <li class="list-group-item">Apellidos: {{ user.last_name }}</li>
                                    <li class="list-group-item">Correo Electronico: {{ user.email }}</li>
                                </ul>
                                <div class="card-body align-self-center">
                                    <a href="{% url 'reset_password' %}" class="card-link btn btn-primary">¿Desea cambiar la clave?</a>
                                    <a href="{% url 'profile_update' %}" class="card-link btn btn-success">¿Solicita Editar Su Perfil?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}