{% extends 'Adm/admin.html' %}
{% load static %}

{% load widget_tweaks %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-8">
                        <h1 class="m-0 text-danger text-bold">{{ title }}</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-4">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="{% url 'adm' %}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard v3</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>

        <!-- Main content -->
        <form method="post" id="form_id">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if action == 'add' %}
                                        <i class="fas fa-plus-circle"></i>
                                    {% else %}
                                        <i class="fas fa-edit"></i>
                                    {% endif %}
                                    {{ title2 }}
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="container">
                                    {% csrf_token %}
                                    <div class="text-left text-bold">
                                        {{ form.rut.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.rut | add_class:'form-control' | attr:'placeholder:Ingrese su Rut' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.first_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.first_name | add_class:'form-control' | attr:'placeholder:Ingrese su Primer Nombre' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.second_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.second_name | add_class:'form-control' | attr:'placeholder:Ingrese su Segundo Nombre' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.pather_last_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.pather_last_name | add_class:'form-control' | attr:'placeholder:Ingrese su Apellido Paterno' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.mother_last_name.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.mother_last_name | add_class:'form-control' | attr:'placeholder:Ingrese su Apellido Materno' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.birthday.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.birthday | add_class:'form-control datepicker' | attr:'autocomplete:off' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.phone.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.phone | add_class:'form-control' | attr:'placeholder:Ingrese su Número de Celular' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.email.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.email | add_class:'form-control' | attr:'placeholder:Ingrese su Correo Electronico' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.gender.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.gender | add_class:'form-control' | attr:'placeholder:Selecione una Opción' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.city.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.city | add_class:'form-control' | attr:'placeholder:Ingrese su Ciudad' }}
                                    </div>
                                    <div class="text-left text-bold">
                                        {{ form.address.label }}
                                    </div>
                                    <div class="input-group mb-2">
                                        {{ form.address | add_class:'form-control' | attr:'placeholder:Ingrese su Dirección' }}
                                    </div>
                                </div>
                                <br>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-audio-description"></i> {{ button }}
                                    </button>
                                    <a href="{{ listClient }}" class="btn btn-success">
                                        <i class="fas fa-audio-description"></i> {{ button2 }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="{% static 'admin/js/functions/datePicker.js' %}"></script>
                </div>
            </div>
        </form>
    </div>
{% endblock %}