{% extends 'Web/home.html' %}

{% load static %}
{% load humanize %}

{% block title %}

{% endblock %}

{% block service %}

{% endblock %}

{% block contend %}
    <br><br><br><br><br>
    <div class="container card-footer">
        <div class="row m-0">
            <div class="col-md-7 col-12">
                <div class="row">
                    <div class="">
                        <a href="{% url 'profile' %}" class="btn btn-success" style="width: 20%">{{ button }}</a>
                        <a href="{% url 'order_pdf' order.pk %}" class="btn btn-danger">{{ PDF }}</a>
                    </div>
                    <div class="col-12 mb-4">
                        <div>
                            <div class="text-center m-3 card-footer" style="background: #09111e; color: white">
                                <p style="font-size: 25px">Detalle de la Orden</p>
                                <h3>N° {{ order.transaction_id }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-0 mb-4">
                        <div class="box-right">
                            <div class="card-footer">
                                <div class="d-block card-footer"
                                     style="font-size: 20px; background: #09111EFF; color: white">solicitado por:
                                </div>
                                <hr>
                                <div class="d-block m-2" style="font-size: 20px">Nombre: {{ user.get_full_name }}</div>
                                <div class="d-block m-2" style="font-size: 20px">Email: {{ user.email }}</div>
                                <br>
                                <div class="d-block card-footer"
                                     style="font-size: 20px; background: #09111EFF; color: white">Información de Envio:
                                </div>
                                <hr>
                                {% if shipping %}
                                    <div class="d-block m-2" style="font-size: 20px">País: {{ shipping.country }}</div>
                                    <div class="d-block m-2" style="font-size: 20px">Ciudad: {{ shipping.city }}</div>
                                    <div class="d-block m-2" style="font-size: 20px">Codigo
                                        Postal: {{ shipping.postalCode }}</div>
                                    <div class="d-block m-2" style="font-size: 20px">
                                        Dirección: {{ shipping.address }}</div>
                                {% else %}
                                    <p>No hay registros de envio</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 px-0">
                        <div class="box-right">
                            <div class="card-footer">
                                <div class="d-block card-footer"
                                     style="font-size: 20px; background: #09111EFF; color: white">Productos Solicitados:
                                </div>
                                <hr>
                            </div>
                            {% if items %}
                                {% for item in items %}
                                    <ul class="list-group text-center">
                                        <a href="{% url 'productDetail' item.product.slug %}"
                                           class="p-1 btn btn-dark">{{ item.product.name }}</a>
                                        <li class="list-group-item justify-content-between lh-sm py-1">
                                            <div style="font-size: 15px">
                                                <img src="{{ item.product.imageURL }}" alt=""
                                                     style="width: 100px;">
                                                <span class="p-1">Catidad: {{ item.qty }}</span>
                                                <span class="p-1">Valor: {{ item.product.offerPrice | intcomma }}</span>
                                                <span class="p-1">Sub Total: {{ item.get_sub_total | intcomma }}</span>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <h1>No existen productos registrados</h1>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="col-md-5 col-12 card-footer" style="background: #eee8e8">
                <div class="box-left">
                    <p class="card-footer text-center text-bold text-white" style="background: #09111EFF">Resumen de la
                        orden</p>
                    <div class="d-block">Metodo de Pago: {{ order.paymentMethod }}</div>
                    <p class="card-footer text-center text-bold text-white" style="background: #18bd06">
                        Pagado: {{ order.paidAt }}</p>
                    <hr>
                    <div class="d-block">Estado de la orden:</div>
                    {% if order.status == "Orden Recibida" %}
                        <p class="card-footer text-center text-bold text-white"
                           style="background: #2545e3">{{ order.status }}</p>
                    {% elif order.status == "Orden En Proceso" %}
                        <p class="card-footer text-center text-bold text-white"
                           style="background: #eecf08">{{ order.status }}</p>
                    {% elif order.status == "Orden Cancelada" %}
                        <p class="card-footer text-center text-bold text-white"
                           style="background: #e32525">{{ order.status }}</p>
                    {% elif order.status == "Orden En Camino" %}
                        <p class="card-footer text-center text-bold text-white"
                           style="background: #2a2a2a">{{ order.status }}</p>
                    {% elif order.status == "Orden Completada" %}
                        <p class="card-footer text-center text-bold text-white"
                           style="background: #18bd06">{{ order.status }}</p>
                    {% endif %}
                    <hr>
                    <div class="h8">
                        <div class="row m-0 border mb-3 card-footer">
                            <p class="card-footer text-center" style="background: #ffffff">Resumen de la orden</p>
                            <hr>
                            <div class="d-block m-2" style="font-size: 20px">Productos: {{ order.get_cart_items }}</div>
                            <hr>
                            <div class="d-block m-2" style="font-size: 20px">Sub Total:
                                ${{ order.shippingPrice | intcomma }}</div>
                            <hr>
                            <div class="d-block m-2" style="font-size: 20px">Costo de envio:
                                ${{ order.tax | intcomma }}</div>
                            <hr>
                            <div class="d-block m-2" style="font-size: 20px">Total Pagado:
                                ${{ order.total | intcomma }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}