{% extends 'Web/home.html' %}
{% load static %}
{% load humanize %}

{% block title %}

{% endblock %}

{% block service %}

{% endblock %}

{% block contend %}
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-footer bg-dark">
                        <div class="text-center text-white p-2">
                            {% if user.is_authenticated %}
                                <h5>Bienvenido a wykep {{ user.username }}</h5>
                            {% else %}
                                <h1></h1>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body align-self-center">
                        <div class="card text-center">
                            <div class="card-footer">
                                <br>
                                <img src="{{ request.user.get_image }}"
                                     class="card-img-top align-self-center" alt="asd" style="width: 150px;">
                            </div>
                            <br>
                            <ul class="list-group list-group-flush">
                                <li id="usuario" class="list-group-item">Usuario: {{ user.username }}</li>
                                <li id="nombre" class="list-group-item">Nombres: {{ user.first_name }}</li>
                                <li id="apellido" class="list-group-item">Apellidos: {{ user.last_name }}</li>
                                <li id="correo" class="list-group-item">Email: {{ user.email }}</li>
                            </ul>
                            <div class="card-body align-self-center">
                                <a href="{% url 'reset_password' %}" class="card-link btn btn-success">Cambiar Clave</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card-footer bg-dark">
                    <div class="text-center text-bold text-white p-2" style="font-size: 25px">Ordenes Emitidas</div>
                </div>
                <table class="table table-hover text-center" id="data">
                    <thead class="bg-dark alert-link text-white">
                    <tr>
                        <th>ID</th>
                        <th>Total</th>
                        <th>Tipo de Pago</th>
                        <th>Fecha emitida</th>
                        <th>Transacción</th>
                    </tr>
                    </thead>
                    {% if order %}
                        {% for o in order %}
                            {% if o.transaction_id %}
                                <tbody>
                                <tr style="font-size: 16px">
                                    <td><a class="btn btn-dark btn-sm"
                                           href="{% url 'order-detail' o.pk %}">{{ o.id }}</a>
                                    </td>
                                    <td>${{ o.shippingPrice | intcomma }}</td>
                                    <td>{{ o.paymentMethod }}</td>
                                    <td>{{ o.paidAt }}</td>
                                    <td>{{ o.transaction_id }}</td>
                                </tr>
                                </tbody>
                            {% endif %}
                        {% endfor %}
                        </table>
                    {% endif %}

                <div class="row justify-content-center text-center">
                    <nav style="width: 30%">
                        <ul class="pagination text-center">
                            {% if order.has_previous %}
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="?page={{ order.previous_page_number }}"><i
                                            class="fas fa-arrow-alt-circle-left"></i></a>
                                </li>
                            {% endif %}

                            {% for page in pages %}
                                <li class="page-item{% if current_page == page %} active {% endif %}">
                                    <a class="page-link bg-dark" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endfor %}

                            {% if order.has_next %}
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="?page={{ order.next_page_number }}"><i
                                            class="fas fa-arrow-alt-circle-right"></i></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link bg-dark" href="?page={{ order.paginator.num_pages }}"><i
                                            class="fas fa-angle-double-right"></i></a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



